ENABLED_SERVICES=n-cpu,n-novnc

MYSQL_PASSWORD=supersecret
RABBIT_PASSWORD=supersecret
SERVICE_TOKEN=supersecret
SERVICE_PASSWORD=supersecret
ADMIN_PASSWORD=supersecret


HOST_IP=10.10.10.78
HOST_IP_IFACE=${HOST_IP_IFACE}
PUBLIC_INTERFACE=${HOST_IP_IFACE}
FLAT_INTERFACE=eth2
#MULTI_HOST=1
OFFLINE=0
LOGFILE=/opt/stack/logs/stack.sh.log
VNCSERVER_PROXYCLIENT_ADDRESS=$HOST_IP
VNCSERVER_LISTEN=$HOST_IP
 
MYSQL_HOST=10.10.10.77
RABBIT_HOST=10.10.10.77
GLANCE_HOSTPORT=10.10.10.77:9292
 

OVS_ENABLE_TUNNELING=False



FLOATING_RANGE=10.10.30.224/28

#NOVA_REPO=https://github.com/hesamrahimi/nova.git
#NOVA_BRANCH=silver
#NOVA_BRANCH=multinode
#NOVA_BRANCH=multinode-hypervisor_hostname

LOG_COLOR=False
DEST=${DEST:-/opt/stack}
LOG_DIR=$DEST/log
mkdir -p $LOG_DIR

EXTRA_OPTS=(
vnc_keymap=ja
log_dir=$LOG_DIR
)

PUBLIC_INTERFACE=eth0
#BM_PXE_INTERFACE=eth1
#FLAT_INTERFACE=eth2
#LOGFILE=/opt/stack/logs/stack.sh.log
